#roundabout_ul {
				list-style: none;
				padding: 0;
				margin: 0 auto;
				width: 36em;
				height: 26em;
			}
			#roundabout_ul li {
				height: 12em;
				width: 10em;
				
				/*background-color: #fff;
				text-align: center;*/
				
				cursor: pointer;
				
				/*border: 1px solid #bbb;
				-webkit-border-radius: 1em;
				-moz-border-radius: 1em;
				-ms-border-radius: 1em;
				-o-border-radius: 1em;
				border-radius: 1em;*/
				box-shadow: 5px 5px 5px #000;
			}
			 #roundabout_ul li.roundabout-in-focus {
					cursor: default;
				}
			#roundabout_ul li span {
				display: block;
				padding-top: 3.5em;
			}
				#roundabout_ul .monolith {
					background-color: #333;
					color: #fff;
					text-align: center;
					width: 300px;
					height: 400px;
					position: absolute;
					z-index: 260;
					left: 125px;
					top:-25px;
					border-color: #222;
					opacity: 0.9;
					border-radius: 10px;
					box-shadow: 5px 5px 5px #000;
				}
				
